<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5">
      <form>
        <div class="form-group">
          <label for="">Usuario</label>
          <input type="text" placholder="Uusuario" class="form-control">
          <label for="">Password</label>
          <input type="password" placeholder="Password">
          <button class="mt-2 btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
